<form>
    <label for="id">Id</label>
    <input type="text" name="id" id="id">
    <br>
    <label for="mail">E-mail</label>
    <input type="text" name="email" id="mail">
    <br>
    <label for="pass">Password</label>
    <input type="password" name="password" id="pass">
    <input type="submit" id="subm">
    <input type="button" value="Сохранить" id="edit" hidden>

    <br>
    <span id="span"></span><br>
</form>
<script src="./getuserdb.js"></script>
