<form>
    <label for="mail">E-mail</label>
    <input type="text" name="email" id="mail">
    <br>
    <label for="pass">Password</label>
    <input type="password" name="password" id="pass">
    <input type="submit" id="subm">
</form>
<script src="./saveatdb.js"></script>
